body {
  background-color: powderblue;
}

#header {
    text-align: center;
    margin: 0 auto;
  }
  img {
    height: 200px;
    width: 200px;
  }
  #header-img {
    height: 175px;
    width: 550px;
    
  }
  #cities-form-container {
    margin-top: 25px;
    
  }

 


  .vote-bttn {
    color: blue;
    font-size: larger;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .vote-bttn:hover {
    color: white;
    background-color: blue;
  }
  .delete-bttn {
    color: red;
    font-size: large;
  }
  .delete-bttn:hover {
    background-color: pink;
  }

  .card {

    margin: 30px;
    float: left;
    text-align: center;
    width: 200px;
    height: 200px;
  }

  .newcity-form {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    font-size:12px;
    height:25px;

  }

  